.snowpack
build
node_modules
.build
.idea
web_modules
# Files added to Github so that the package can be installed via Yarn
# dist
# dist-commonjs
types
coverage
/test-results/
/playwright-report/
/playwright/.cache/
